name: Test Action

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install envtest
        run: go install sigs.k8s.io/controller-runtime/tools/setup-envtest@release-0.22

      - name: Setup envtest
        id: setup-envtest
        run: |
          echo "KUBEBUILDER_ASSETS=$(setup-envtest use -p path)" >> $GITHUB_ENV

      - name: Build Go program
        run: |
          go build -o envtest-start main.go

      - name: Run envtest-start
        run: |
          ./envtest-start &
          echo "KUBECONFIG=/tmp/envtest-kubeconfig" >> $GITHUB_ENV

      - name: run tests
        run: ${KUBEBUILDER_ASSETS}/kubectl get pods

      - name: stop envtest-start
        run: pkill -f envtest-start
